<div class="row">
    <form id="frmLista" class="form-horizontal" 
          role="form" method="post" 
          ng-controller="PaginacionController as pagCtrl">
        <span ng-init="pagCtrl.paginacion.servlet=grhCtrl.servlet+'Sel';grhCtrl.listar();"></span>
        {{pagCtrl.paginacion.mensajeLista}}
        <div class="col-sm-10 col-sm-offset-1 input-group input-group-sm">
            <span class="input-group-addon">Página</span>
            <input class="form-control" type="number" id="pag" 
                   name="pag" min="1" step="1" ng-model="pagCtrl.paginacion.pag" required>
            <span class="input-group-addon">de</span>
            <span class="input-group-addon" id="totpag">{{pagCtrl.paginacion.paginas}}</span>
            <span class="input-group-addon">Cantidad</span>
            <input type="number" class="form-control" id="lim" 
                   name="lim" min="10" max="100" step="10" ng-model="pagCtrl.paginacion.lim" required>
            <span class="input-group-addon">Orden:</span>
            <select class="form-control" id="cor" name="cor" ng-model="pagCtrl.paginacion.cor">
                <option value="1">ID</option>
                <option value="2">Código</option>
                <option value="3">Nombre</option>
            </select>
            <span class="input-group-addon">/</span>
            <select class="form-control" id="tor" name="tor" ng-model="pagCtrl.paginacion.tor">
                <option value="asc">Asc</option>
                <option value="desc">Desc</option>
            </select>
            <span class="input-group-addon" id="datosListaFiltrada">
                Mostrando {{pagCtrl.paginacion.regInicial}} al {{pagCtrl.paginacion.regFinal}} de {{pagCtrl.paginacion.registros}}
            </span>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="btnListar" ng-click="pagCtrl.listar();">Listar</button>
            </span>
        </div>
    </form>
</div>