/* 
    Document   : estilo
    Created on : 3/03/2013, 07:14:51 PM
    Author     : Alexys
    Description:
        Purpose of the stylesheet follows.
*/

/*********************/
/*** TAGS          ***/
/*********************/
 body {
    margin: 0;
    padding-bottom: 40px;
}

h2{
    padding-left: 15%;
}

input[type="text"]{
    text-transform: uppercase;
}
/***********************/
/*** CLASES          ***/
/***********************/
.acciones{
    max-width: 55px;
}
.ancho-paginacion{
    /*width: 100px;
    max-width: 100px;*/
}
.botonesConfirmacion{
    text-align: center;
}
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          
  box-shadow: 5px 5px 5px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.navbar {
  margin-bottom: 20px;
}
/*********************/
/*** DIVS          ***/
/*********************/
#modalBaseGris{
    background-color: hsla(210, 0%, 25%, .7);
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
}
#modalVentana{
    display: inline-block;
    margin: 100px 25%;
    min-width: 50%;
    max-width: 50%;
}

/*********************/
/*** FORMULARIOS   ***/
/*********************/

